/* socials */
#block-block-32
    text-align center
    margin 75px 0 45px 0

.view-id-cases .view-content,
.view-id-articles .view-content
    display flex
    flex-wrap wrap
    justify-content space-between
    margin-top 35px

    .views-row
        width 255px
        margin 0 10px 35px 10px
        position relative

        .views-field-field-cover img
            max-width 100%
            height auto

        .views-field-title a
            display block
            color #000
            font-size 24px
            line-height 32px
            margin-top 14px
            text-decoration none
            transition color .3s

            &:hover
                color qubertenGold

/* quote on main page */
.page-node-5 #page-title
    display none

#node-5 p
    display block
    font-weight 800
    text-transform uppercase
    letter-spacing .3
    margin-bottom 20px
    font-size 40px
    line-height 48px
    margin-top 45px

@media (max-width: screenSm)
    .view-id-cases .view-content,
    .view-id-articles .view-content
        .views-row
            width 100%

            .views-field-title a
                font-size 18px
                line-height 22px

    #node-5 p
        font-size 20px
        line-height 24px


.node-case
.node-article
    img
        max-width 100%
        height auto!important

