.socials
    display flex
    justify-content center
    padding-top 35px
    padding-bottom 50px

    &-link
        margin 0 9px

        &-item
            width 34px
            height 32px

            use
                transition fill .3s

        &:hover
            .socials-link-item
                use
                    fill qubertenGold

