.socials
    display flex
    justify-content center
    padding 35px 20px 50px 20px

    &-link
        margin 0 9px

        &-item
            width 34px
            height 32px

            use
                transition fill .3s

        &:hover
            .socials-link-item
                use
                    fill qubertenGold

