h1
.quote
    display block
    font-weight 800
    text-transform uppercase
    letter-spacing .3
    margin-top 50px
    margin-bottom 20px

.quote
    font-size 40px
    line-height 48px
    margin-top 45px

    &-small
        font-size 32px
        line-height 38px

h1
    text-align center
    font-size 32px

.container p
    margin: 20px 0
    font-size 18px
    line-height 22px

