.works
    margin-bottom 40px

    &-list
        display flex
        flex-wrap wrap
        justify-content space-around
        margin-top 65px

    &-element
        width 255px
        margin 0 10px 35px 10px
        position relative

        &-link
            position absolute
            top 0
            bottom 0
            left 0
            right 0

            &:hover ~ .works-element-title
                color qubertenGold


        &-img
            max-width 100%

        &-title
            display block
            color #000
            font-size 24px
            line-height 32px
            margin-top 14px
            text-decoration none
            transition color .3s

    &-show-more
        text-transform uppercase
        text-decoration none
        font-weight 800
        font-size 24px
        line-height 29px
        transition color .3s
        color #000

        &:hover
            color qubertenGold

        &-wrapper
            margin 15px 0
            text-align center
